
.articles {
    list-style-position: inside;
    list-style-type: circle;
}

    .articles .article {
        display: list-item;
    }

        .articles .article.read {
            list-style-type: disc;
        }
