
    .article::before {
        content: "\2714"; /* check mark */
        padding: 0.5rem;
    }

    .article.read::before {
        color: forestgreen;
    }

    .article.unread::before {
        color: lightgrey;
    }
