@page "/"

@if (SelectedArticle != null)
{
    <ul>
        @foreach (var page in SelectedArticle.Pages)
        {
            <li>
                @switch (page.Type)
                {
                    case Abstractions.ArticleType.Text:
                        <p>
                            @(page.Content)
                        </p>
                        break;
                    case Abstractions.ArticleType.Image:
                        <img src="@(page.Content)"/>
                        break;
                    default:
                        break;
                }
            </li>
        }
    </ul>
}
else if (SelectedSource != null)
{
}
