@inherits LayoutComponentBase

<div class="d-flex page">
    <NavMenu OnSourceSelected="HandleOnSourceSelectedAsync"
             OnFeedSelected="HandleOnFeedSelectedAsync"
             OnArticleSelected="HandleOnArticleSelectedAsync" />

    <div class="container-fluid flex-grow-1 overflow-auto vh-100 py-3 main">
        <CascadingValue Name="SelectedSource" Value="_selectedSource">
            <CascadingValue Name="SelectedFeed" Value="_selectedFeed">
                <CascadingValue Name="SelectedArticle" Value="_selectedArticle">
                    <div class="top-row">
                        @if (_selectedArticle != null)
                        {
                            <h3>
                                @_selectedSource.Source.Title
                                >
                                @_selectedArticle.Article.Title
                            </h3>
                        }
                        else if (_selectedFeed != null)
                        {
                            <h3>@_selectedFeed.Feed.Title</h3>
                        }
                        else if (_selectedSource != null)
                        {
                            <h3>
                                @_selectedSource.Source.Title
                            </h3>
                        }
                    </div>

                    <div class="content">
                        @Body
                    </div>
                </CascadingValue>
            </CascadingValue>
        </CascadingValue>
    </div>
</div>
