@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu OnSourceSelected="HandleOnSourceSelectedAsync"
                 OnArticleSelected="HandleOnArticleSelectedAsync" />
    </div>

    <div class="main">
        <CascadingValue Name="SelectedSource" Value="_selectedSource">
            <CascadingValue Name="SelectedArticle" Value="_selectedArticle">
                <div class="top-row px-4">
                    <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
                </div>

                <div class="content px-4">
                    @Body
                </div>
            </CascadingValue>
        </CascadingValue>
    </div>
</div>
