
<select class="form-select" @bind="@UnreadString">
    <option value="">All</option>
    <option value="@bool.TrueString">Unread</option>
    <option value="@bool.FalseString">Read</option>
</select>
